<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>stats</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form' %>
    <% for @post in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body row">
          <div class="col-sm-1">
            <img class="rounded-img avatar-size-medium" src="http://alexeitruhin.github.io/images/avatar-br.png">
          </div>
          <div class="col-sm-11">
            <p class="post-title">
              <span class="post-owner">
                <%= @post.user.name %>
              </span>
              <span class="post-create-date" title="<%= l(@post.created_at, :format => "%d de %B de %Y as %H:%M") %>">
                @<%= @post.user.username %> - <%= time_ago_in_words(@post.created_at) %>
              </span>
            </p>
            <p class="post-content"><%= @post.content %></p>
          </div>
          <div class="col-sm-11 col-sm-offset-1">
            <p class="post-links">
              <span class="glyphicon glyphicon-comment glyphi-links" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-retweet glyphi-links" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-heart glyphi-links" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-option-horizontal glyphi-links" aria-hidden="true"></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-12">
        <center>
          <a href="#top">
            <p class="link-top">
              <img class="avatar-size-icon" src="http://alexeitruhin.github.io/images/avatar-br.png">
              Voltar para o topo <span class="glyphicon glyphicon-arrow-up glyphi-links" aria-hidden="true"></span>
            </p>
          </a>
        </center>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>about</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>trends</p>
      </div>
    </div>
  </div>
</div>